<div class="row">
    <div class="col-8" id="left">
        <div class="card">
            <h3 class="card-header">AP</h3>
            <div class="card-block">
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">Art History</button>
                    <button type="button" class="btn btn-secondary">Biology</button>
                    <button type="button" class="btn btn-secondary">Calculus AB</button>
                    <button type="button" class="btn btn-secondary">Calculus BC</button>
                    <button type="button" class="btn btn-secondary">Chemistry</button>
                    <button type="button" class="btn btn-secondary">Chinese</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">Comparative Government</button>
                    <button type="button" class="btn btn-secondary">Computer Science</button>
                    <button type="button" class="btn btn-secondary">English Language</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">English Literature</button>
                    <button type="button" class="btn btn-secondary">Environmental Science</button>
                    <button type="button" class="btn btn-secondary">European History</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">French</button>
                    <button type="button" class="btn btn-secondary"> German</button>
                    <button type="button" class="btn btn-secondary">Human Geography</button>
                    <button type="button" class="btn btn-secondary">Italian</button>
                    <button type="button" class="btn btn-secondary">Japanese</button>
                    <button type="button" class="btn btn-secondary">Latin</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">Macroeconomics</button>
                    <button type="button" class="btn btn-secondary">Microeconomics</button>
                    <button type="button" class="btn btn-secondary">Music Theory</button>
                    <button type="button" class="btn btn-secondary">Physics B</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">Physics C: Mechanics</button>
                    <button type="button" class="btn btn-secondary">Physics C: E&M</button>
                    <button type="button" class="btn btn-secondary">Physics 1</button>
                    <button type="button" class="btn btn-secondary">Physics 2</button>
                    <button type="button" class="btn btn-secondary">Psychology</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">Spanish Language</button>
                    <button type="button" class="btn btn-secondary">Spanish Literature</button>
                    <button type="button" class="btn btn-secondary">Statistics</button>
                    <button type="button" class="btn btn-secondary">Studio Art: 2D</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">Studio Art: 3D</button>
                    <button type="button" class="btn btn-secondary">Studio Art: Drawing</button>
                    <button type="button" class="btn btn-secondary">US Government</button>
                    <button type="button" class="btn btn-secondary">US History</button>
                    <button type="button" class="btn btn-secondary">World History</button>
                </div>
            </div>
        </div>
        <div class="card" id="nested">
            <div class="card-block">
                <h3 class="card-title">IB</h3>
                <div class="card">
                    <h4 class="card-header">High Level</h4>
                    <div class="card-block">
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary">Biology</button>
                            <button type="button" class="btn btn-secondary">Chemistry</button>
                            <button type="button" class="btn btn-secondary">Chinese</button>
                            <button type="button" class="btn btn-secondary">Computer Science</button>
                            <button type="button" class="btn btn-secondary">Economics</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary">English</button>
                            <button type="button" class="btn btn-secondary">European History</button>
                            <button type="button" class="btn btn-secondary">French</button>
                            <button type="button" class="btn btn-secondary">German</button>
                            <button type="button" class="btn btn-secondary">History of Americas</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary">Japanese</button>
                            <button type="button" class="btn btn-secondary">Mathematics</button>
                            <button type="button" class="btn btn-secondary">Physics</button>
                            <button type="button" class="btn btn-secondary">Psychology</button>
                            <button type="button" class="btn btn-secondary">Spanish</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h4 class="card-header">Standard Level</h4>
                    <div class="card-block">
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary">Biology</button>
                            <button type="button" class="btn btn-secondary">Chemistry</button>
                            <button type="button" class="btn btn-secondary">Computer Science</button>
                            <button type="button" class="btn btn-secondary">Economics</button>
                            <button type="button" class="btn btn-secondary">English</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary">European History</button>
                            <button type="button" class="btn btn-secondary">Foreign Language</button>
                            <button type="button" class="btn btn-secondary">History of Americas</button>
                            <button type="button" class="btn btn-secondary">Mathematics</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary">Physics</button>
                            <button type="button" class="btn btn-secondary">Psychology</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">SAT II</h3>
            <div class="card-block">
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary">Chemistry</button>
                    <button type="button" class="btn btn-secondary">English</button>
                    <button type="button" class="btn btn-secondary">Computer Science</button>
                    <button type="button" class="btn btn-secondary">US History</button>
                    <button type="button" class="btn btn-secondary">World History</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" id="right">
        <div class="card text-center">
            <h3 class="card-header">SCORE</h3>
            <div class="card-block">
                <div class="btn-group-vertical">
                    <a href="#" class="btn btn-outline-secondary" id="y1">3</a>
                    <a href="#" class="btn btn-outline-secondary" id="y2">4</a>
                    <a href="#" class="btn btn-outline-secondary" id="y3">5</a>
                </div>
                <div class="card-block">
                    <a href="#" class="btn btn-primary btn-outline-secondary" id="add">Add AP Score</a>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <div class="card-block">
                    <div class="btn-group-vertical">
                        <a href="#" class="btn btn-outline-secondary" id="y1">4</a>
                        <a href="#" class="btn btn-outline-secondary" id="y2">5</a>
                        <a href="#" class="btn btn-outline-secondary" id="y3">6</a>
                        <a href="#" class="btn btn-outline-secondary" id="y3">7</a>
                    </div>
                    <div class="card-block">
                        <a href="#" class="btn btn-primary btn-outline-secondary" id="add">Add IB Score</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <input class="form-control" type="number" id="example-number-input" placeholder="Enter a valid score between 0-800">
                <div class="card-block">
                    <a href="#" class="btn btn-primary btn-outline-secondary" id="add">Add SAT Score</a>
                </div>
            </div>
        </div>
    </div>
</div>
