body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

#left {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

#right {
    position: absolute;
    top: 5px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

.card {
    margin-bottom: 5px;
}

#y1 {
    color: #000000;
    background-color:#ffef99;
}

#y2 {
    color: #000000;
    background-color:#ffe766;
}

#y3 {
    color: #000000;
    background-color:#ffdf32;
}

#y4 {
    color: #000000;
    background-color:#ffd700;
}
#add {
    color: #000000;
    background-color: #d8d8d8;
}

#wrapper {
    display: flex;
    justify-content: center;
}
.btn-group {
    padding:1px;
}
