body, html {
  overflow: hidden;
  height:100%;
}

#scrollable {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll;
}

.card {
    margin-bottom: 5px;
}

.card-header {
  font-family: "Raleway";
}

.card-title {
  font-family: "Raleway";
}

.btn-secondary {
  font-family: 'Raleway';
}

.btn-secondary:focus {
  background-color: #FFD700;
}

.btn-outline-secondary {
  font-family: "Raleway";
}

.btn-primary {
  font-family: "Raleway";
}

#wrapper {
    display: flex;
    justify-content: center;
}
