<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="top">
        <div class="card">
            <h3 class="card-header">AP</h3>
            <div class="card-block">
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Art History</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Biology</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Calculus AB</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Calculus BC</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Chemistry</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Chinese</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Comparative Government</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Computer Science</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">English Language</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">English Literature</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Environmental Science</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">European History</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">French</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()"> German</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Human Geography</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Italian</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Japanese</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Latin</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Macroeconomics</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Microeconomics</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Music Theory</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Physics B</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Physics C: Mechanics</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Physics C: E&M</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Physics 1</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Physics 2</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Psychology</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Spanish Language</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Spanish Literature</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Statistics</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Studio Art: 2D</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Studio Art: 3D</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">Studio Art: Drawing</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">US Government</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">US History</button>
                    <button type="button" class="btn btn-secondary" (click)="apClicked()">World History</button>
                </div>
            </div>
        </div>
        <div class="card" id="nested">
            <div class="card-block">
                <h3 class="card-title">IB</h3>
                <div class="card">
                    <h4 class="card-header">High Level</h4>
                    <div class="card-block">
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Biology</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Chemistry</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Chinese</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Computer Science</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Economics</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">English</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">European History</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">French</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">German</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">History of Americas</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Japanese</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Mathematics</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Physics</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Psychology</button>
                            <button type="button" class="btn btn-secondary" (click)="ibHighClicked()">Spanish</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h4 class="card-header">Standard Level</h4>
                    <div class="card-block">
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">Biology</button>
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">Chemistry</button>
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">Computer Science</button>
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">Economics</button>
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">English</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">European History</button>
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">Foreign Language</button>
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">History of Americas</button>
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">Mathematics</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">Physics</button>
                            <button type="button" class="btn btn-secondary" (click)="ibStandardClicked()">Psychology</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">SAT II</h3>
            <div class="card-block">
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="satClicked()">Chemistry</button>
                    <button type="button" class="btn btn-secondary" (click)="satClicked()">English</button>
                    <button type="button" class="btn btn-secondary" (click)="satClicked()">US History</button>
                    <button type="button" class="btn btn-secondary" (click)="satClicked()">World History</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
