<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="top">
        <div class="card">
            <h3 class="card-header">AP</h3>
            <div class="card-block">
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked(art)">Art History</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Biology</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Calculus AB</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Calculus BC</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Chemistry</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Chinese</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Comparative Government</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Computer Science</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">English Language</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">English Literature</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Environmental Science</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">European History</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">French</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()"> German</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Human Geography</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Italian</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Japanese</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Latin</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Macroeconomics</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Microeconomics</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Music Theory</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Physics B</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Physics C: Mechanics</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Physics C: E&M</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Physics 1</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Physics 2</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Psychology</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Spanish Language</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Spanish Literature</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Statistics</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Studio Art: 2D</button>
                </div>
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Studio Art: 3D</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">Studio Art: Drawing</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">US Government</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">US History</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.apClicked()">World History</button>
                </div>
            </div>
        </div>
        <div class="card" id="nested">
            <div class="card-block">
                <h3 class="card-title">IB</h3>
                <div class="card">
                    <h4 class="card-header">High Level</h4>
                    <div class="card-block">
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Biology</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Chemistry</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Chinese</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Computer Science</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Economics</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">English</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">European History</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">French</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">German</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">History of Americas</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Japanese</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Mathematics</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Physics</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Psychology</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibHighClicked()">Spanish</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h4 class="card-header">Standard Level</h4>
                    <div class="card-block">
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">Biology</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">Chemistry</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">Computer Science</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">Economics</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">English</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">European History</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">Foreign Language</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">History of Americas</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">Mathematics</button>
                        </div>
                        <div class="btn-group" id="wrapper" role="group">
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">Physics</button>
                            <button type="button" class="btn btn-secondary" (click)="_scoreSelect.ibStandardClicked()">Psychology</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">SAT II</h3>
            <div class="card-block">
                <div class="btn-group" id="wrapper" role="group">
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.satClicked()">Chemistry</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.satClicked()">English</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.satClicked()">US History</button>
                    <button type="button" class="btn btn-secondary" (click)="_scoreSelect.satClicked()">World History</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
