body, html {
  overflow: hidden;
  height:100%;
}

.card {
    margin-bottom: 5px;
}

.card-header {
  font-family: "Raleway";
}

.card-title {
  font-family: "Raleway";
}

.btn-secondary {
  font-family: 'Roboto Condensed';
}

.btn-secondary:focus {
  background-color: #FFD700;
}

.btn-outline-secondary {
  font-family: "Roboto Condensed";
}

.btn-primary {
  font-family: "Raleway";
}

#wrapper {
    display: flex;
    justify-content: center;
}
