<!DOCTYPE html>
<html>
<body>
    <div class="card">
        <h3 class="card-header">AP</h3>
        <div class="card-block">
            <div class="btn-group" id="wrapper" role="group">
                <button type="button" class="btn btn-secondary" id="Art Histroy" (click)="_scoreSelect.apClicked($event)">Art History</button>
                <button type="button" class="btn btn-secondary" id="Biology" (click)="_scoreSelect.apClicked($event)">Biology</button>
                <button type="button" class="btn btn-secondary" id="Calculus AB" (click)="_scoreSelect.apClicked($event)">Calculus AB</button>
                <button type="button" class="btn btn-secondary" id="Calculus BC" (click)="_scoreSelect.apClicked($event)">Calculus BC</button>
                <button type="button" class="btn btn-secondary" id="Chemistry" (click)="_scoreSelect.apClicked($event)">Chemistry</button>
                <button type="button" class="btn btn-secondary" id="Chinese" (click)="_scoreSelect.apClicked($event)">Chinese</button>
            </div>
            <div class="btn-group" id="wrapper" role="group">
                <button type="button" class="btn btn-secondary" id="Computer Science" (click)="_scoreSelect.apClicked($event)">Computer Science</button>
                <button type="button" class="btn btn-secondary" id="English Language" (click)="_scoreSelect.apClicked($event)">English Language</button>
                <button type="button" class="btn btn-secondary" id="English Literature" (click)="_scoreSelect.apClicked($event)">English Literature</button>
            </div>
            <div class="btn-group" id="wrapper" role="group">
                <button type="button" class="btn btn-secondary" id="Environmental Science" (click)="_scoreSelect.apClicked($event)">Environmental Science</button>
                <button type="button" class="btn btn-secondary" id="European History" (click)="_scoreSelect.apClicked($event)">European History</button>
                <button type="button" class="btn btn-secondary" id="French" (click)="_scoreSelect.apClicked($event)">French</button>
                <button type="button" class="btn btn-secondary" id="German" (click)="_scoreSelect.apClicked($event)"> German</button>

            </div>
            <div class="btn-group" id="wrapper" role="group">
                <button type="button" class="btn btn-secondary" id="Government Comparative" (click)="_scoreSelect.apClicked($event)">Government Comparative</button>
                <button type="button" class="btn btn-secondary" id="Government US" (click)="_scoreSelect.apClicked($event)">Government US</button>
                <button type="button" class="btn btn-secondary" id="Human Geography" (click)="_scoreSelect.apClicked($event)">Human Geography</button>
                <button type="button" class="btn btn-secondary" id="Italian" (click)="_scoreSelect.apClicked($event)">Italian</button>
                <button type="button" class="btn btn-secondary" id="Japanese" (click)="_scoreSelect.apClicked($event)">Japanese</button>
                <button type="button" class="btn btn-secondary" id="Latin" (click)="_scoreSelect.apClicked($event)">Latin</button>
            </div>
            <div class="btn-group" id="wrapper" role="group">
                <button type="button" class="btn btn-secondary" id="Macroeconomics" (click)="_scoreSelect.apClicked($event)">Macroeconomics</button>
                <button type="button" class="btn btn-secondary" id="Microeconomics" (click)="_scoreSelect.apClicked($event)">Microeconomics</button>
                <button type="button" class="btn btn-secondary" id="Music Theory" (click)="_scoreSelect.apClicked($event)">Music Theory</button>
                <button type="button" class="btn btn-secondary" id="Physics B" (click)="_scoreSelect.apClicked($event)">Physics B</button>
            </div>
            <div class="btn-group" id="wrapper" role="group">
                <button type="button" class="btn btn-secondary" id="Physics C: Mechanics" (click)="_scoreSelect.apClicked($event)">Physics C: Mechanics</button>
                <button type="button" class="btn btn-secondary" id="Physics C: E&M" (click)="_scoreSelect.apClicked($event)">Physics C: E&M</button>
                <button type="button" class="btn btn-secondary" id="Physics 1" (click)="_scoreSelect.apClicked($event)">Physics 1</button>
                <button type="button" class="btn btn-secondary" id="Physics 2" (click)="_scoreSelect.apClicked($event)">Physics 2</button>
                <button type="button" class="btn btn-secondary" id="Psychology" (click)="_scoreSelect.apClicked($event)">Psychology</button>
            </div>
            <div class="btn-group" id="wrapper" role="group">
                <button type="button" class="btn btn-secondary" id="Spanish Language" (click)="_scoreSelect.apClicked($event)">Spanish Language</button>
                <button type="button" class="btn btn-secondary" id="Spanish Literature" (click)="_scoreSelect.apClicked($event)">Spanish Literature</button>
                <button type="button" class="btn btn-secondary" id="Statistics" (click)="_scoreSelect.apClicked($event)">Statistics</button>
                <button type="button" class="btn btn-secondary" id="Studio Art: 2D" (click)="_scoreSelect.apClicked($event)">Studio Art: 2D</button>
            </div>
            <div class="btn-group" id="wrapper" role="group">
                <button type="button" class="btn btn-secondary" id="Studio Art: 3D" (click)="_scoreSelect.apClicked($event)">Studio Art: 3D</button>
                <button type="button" class="btn btn-secondary" id="Studio Art: Drawing" (click)="_scoreSelect.apClicked($event)">Studio Art: Drawing</button>
                <button type="button" class="btn btn-secondary" id="US History" (click)="_scoreSelect.apClicked($event)">US History</button>
                <button type="button" class="btn btn-secondary" id="World History" (click)="_scoreSelect.apClicked($event)">World History</button>
            </div>
        </div>
    </div>
</body>
</html>
