.container-fluid {
  text-align: center;
}

.col-md-5 {
  padding-top: 1.5%;
}

.col-md-2 {
  padding-top: 1.5%;
}

.right-header {
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Raleway';
  padding-top: 1%;
}

.btn.reset {
  background-color: #00254c;
  color: white;
  font-family: 'Raleway';
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 4%;
  width: auto;
  height: 35px;
  border: 0px;
}

.btn.reset:hover {
  background-color: #EFEFEF;
  color: #00254c;
}

.label {
  background-color: #EFEFEF;
  color: #323232;
  font-family: 'Raleway';
  font-size: 16px;
  border-radius: 25px;
  display: inline-block;
  line-height: 42px;
  width: auto;
  height: auto;
  padding-left: 4%;
  padding-right: 4%;
  margin: 5px;
}

.no-warning {
  background-color: #EFEFEF;
}

.credits {
  color: #323232;
  font-size: 50px;
  line-height: 50px;
}

.badge {
  background-color: black;
  opacity: .75;
  border-radius: 30px;
}
