<!DOCTYPE html>
<html>
<body>
  <div class="card">
    <h4 class="card-header">IB Exams</h4>
    <div class="card-block">
      <div class="card">
        <div class="card-block">
          <h6 class="card-title"> <b>HL</b> </h6>
          <div class="button-group">
          <button type="button" class="btn btn-secondary" id="Biology" (click)="_scoreSelect.ibHighClicked($event)">Biology</button>
          <button type="button" class="btn btn-secondary" id="Chemistry" (click)="_scoreSelect.ibHighClicked($event)">Chemistry</button>
          <button type="button" class="btn btn-secondary" id="Chinese" (click)="_scoreSelect.ibHighClicked($event)">Chinese</button>
          <button type="button" class="btn btn-secondary" id="Computer Science" (click)="_scoreSelect.ibHighClicked($event)">Computer Science</button>
          <button type="button" class="btn btn-secondary" id="Economics" (click)="_scoreSelect.ibHighClicked($event)">Economics</button>
          <button type="button" class="btn btn-secondary" id="English" (click)="_scoreSelect.ibHighClicked($event)">English</button>
          <button type="button" class="btn btn-secondary" id="European History" (click)="_scoreSelect.ibHighClicked($event)">European History</button>
          <button type="button" class="btn btn-secondary" id="French" (click)="_scoreSelect.ibHighClicked($event)">French</button>
          <button type="button" class="btn btn-secondary" id="German" (click)="_scoreSelect.ibHighClicked($event)">German</button>
          <button type="button" class="btn btn-secondary" id="History Of Americas" (click)="_scoreSelect.ibHighClicked($event)">History of Americas</button>
          <button type="button" class="btn btn-secondary" id="Japanese" (click)="_scoreSelect.ibHighClicked($event)">Japanese</button>
          <button type="button" class="btn btn-secondary" id="Mathematics" (click)="_scoreSelect.ibHighClicked($event)">Mathematics</button>
          <button type="button" class="btn btn-secondary" id="Physics" (click)="_scoreSelect.ibHighClicked($event)">Physics</button>
          <button type="button" class="btn btn-secondary" id="Psychology" (click)="_scoreSelect.ibHighClicked($event)">Psychology</button>
          <button type="button" class="btn btn-secondary" id="Spanish" (click)="_scoreSelect.ibHighClicked($event)">Spanish</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h6 class="card-title"> <b>SL</b> </h6>
          <div class="button-group">
            <button type="button" class="btn btn-secondary" id="Biology" (click)="_scoreSelect.ibStandardClicked($event)">Biology</button>
            <button type="button" class="btn btn-secondary" id="Chemistry" (click)="_scoreSelect.ibStandardClicked($event)">Chemistry</button>
            <button type="button" class="btn btn-secondary" id="Computer Science" (click)="_scoreSelect.ibStandardClicked($event)">Computer Science</button>
            <button type="button" class="btn btn-secondary" id="Economics" (click)="_scoreSelect.ibStandardClicked($event)">Economics</button>
            <button type="button" class="btn btn-secondary" id="English" (click)="_scoreSelect.ibStandardClicked($event)">English</button>
            <button type="button" class="btn btn-secondary" id="European History" (click)="_scoreSelect.ibStandardClicked($event)">European History</button>
            <button type="button" class="btn btn-secondary" id="Foreign Language" (click)="_scoreSelect.ibStandardClicked($event)">Foreign Language</button>
            <button type="button" class="btn btn-secondary" id="History of Americas" (click)="_scoreSelect.ibStandardClicked($event)">History of Americas</button>
            <button type="button" class="btn btn-secondary" id="Mathematics" (click)="_scoreSelect.ibStandardClicked($event)">Mathematics</button>
            <button type="button" class="btn btn-secondary" id="Physics" (click)="_scoreSelect.ibStandardClicked($event)">Physics</button>
            <button type="button" class="btn btn-secondary" id="Psychology" (click)="_scoreSelect.ibStandardClicked($event)">Psychology</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
