<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="right-panel-container">
    <div class="row">
      <div class="right-header"> Added Scores </div>
    </div>
    <div class="row">
      <div class="right-header"> Translated Courses </div>
    </div>
    <div class="row">
      <div class="right-header"> Additional Fufillments </div>
    </div>
    <div class="row">
      <div class="right-header"> Credits </div>
    </div>
    <div class="row">
      <div class="right-header"> Class Standing </div>
    </div>
  </div>
</body>
</html>
