<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container" *ngIf="noSubmittedScores; else submittedScores">
        <div class="right-header" role="group"> ADDED SCORES </div>
        <div class="right-header"> ADD SELECTED SCORE </div>

        <div *ngIf="apExamSelected">
            <a href="#" class="btn">1</a>
            <a href="#" class="btn">2</a>
            <a href="#" class="btn">3</a>
            <a href="#" class="btn">4</a>
            <a href="#" class="btn">5</a>
        </div>

        <div *ngIf="ibHighExamSelected || ibStandardExamSelected">
            <a href="#" class="btn">1</a>
            <a href="#" class="btn">2</a>
            <a href="#" class="btn">3</a>
            <a href="#" class="btn">4</a>
            <a href="#" class="btn">5</a>
            <a href="#" class="btn">6</a>
            <a href="#" class="btn">7</a>
        </div>

        <div *ngIf="satExamSelected">
            <input class="form-control text-center" style="display:inline-block; width: 100px;" type="text" placeholder="0-800">
        </div>
            <button type="button" class="btn add"> ADD </button>
    </div>

    <ng-template #submittedScores>
        <div class="container">
            <div class="right-header"> ADDED SCORES </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success"> AP US HISTORY <span class="badge badge-default badge-pill">5</span> </li>
                <li class="list-group-item list-group-item-success"> AP CHEMISTRY <span class="badge badge-default badge-pill">5</span> </li>
                <li class="list-group-item list-group-item-danger"> AP SPANISH LANGUAGE <span class="badge badge-danger badge-pill">3</span> </li>
            </ul>
            <!-- original styling --!>
            <div class="right-header"> ADDED SCORES </div>
            <div class="label-contents"> AP US HISTORY <span class="badge"> 5 </span> </div>
            <div class="label-contents"> AP CHEMISTRY <span class="badge"> 5 </span> </div>
            <div class="label-contents" style="color:red"> AP SPANISH LANGUAGE <span class="badge"> 3 </span> </div>
            <hr style="border-top: dotted 0.5px;">

            <div class="right-header"> TRANSLATED COURSES </div>
            <div class="label-contents"> HIST 1XXX <span class="badge"> 3 </span> </div>
            <div class="label-contents"> CHEM 1212K  <span class="badge"> 4 </span> </div>
            <div class="label-contents"> N/A <span class="badge"> 0 </span> </div>
            <hr style="border-top: dotted 0.5px;">
            <-->

            <div class="right-header"> TRANSLATED COURSES </div>
            <ul class="list-group">
                <li class="list-group-item justify-content-between"> HIST 2111 <span class="badge badge-default badge-pill">3 hrs</span> </li>
                <li class="list-group-item justify-content-between"> CHEM 1212K <span class="badge badge-default badge-pill ">4 hrs</span> </li>
            </ul>
            <hr style="border-top: dotted 0.5px;">

            <div class="right-header"> ADDITIONAL FULFILMENTS </div>
            <div class="label"> CORE AREA A </div>
            <div class="label"> CORE AREA B </div>
            <div class="label"> CORE AREA C </div>
            <hr style="border-top: dotted 0.5px;">

            <div class="right-header"> CREDITS </div>
            <div class="credits"> 100 </div>
            <hr style="border-top: dotted 0.5px;">

            <div class="right-header"> CLASS STANDING </div>
            <div class="label"> SOPHOMORE </div>
            <hr style="border-top: dotted 0.5px;">

            <button class="btn reset"> RESET </button>
            <hr style="border-top: dotted 0.5px;">
        </div>
    </ng-template>

</body>
</html>
