.container {
  background-color: #FFD700;
  text-align:center;
  position:relative;
}

.right-header {
  color: black;
  font-size: 22px;
  text-decoration: underline;
  font-family: 'Raleway';
  padding-top: 1%;
}

.submit {
  background-color: #00254c;
  color: white;
  font-family: 'Raleway';
  font-size: 16px;
  margin-top: 2%;
  width: 100px;
  height: 35px;
  border: 0px;
}

.btn {
  color: white;
  background-color: #323232;
  border-color: #323232;
  margin: 1%;
  opacity: .95;
  width: auto;
}

.btn:hover {
  color: #323232;
  background-color: white;
  border-color: white;
}

.btn.reset {
  background-color: #00254c;
  color: white;
  font-family: 'Raleway';
  font-size: 16px;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 300px;
  height: 35px;
  border: 0px;
}

.btn.reset:hover {
  color: #323232;
  background-color: white;
  border-color: #323232;
  margin: 1%;
  opacity: .95;
  width: 100px;
}

.btn.cancel {
  background-color: #00254c;
  color: white;
  font-family: 'Raleway';
  font-size: 16px;
  margin-top: 2%;
  width: 120px;
  height: 35px;
  border: 0px;
}

.btn.cancel:hover {
  color: #323232;
  background-color: white;
  border-color: #323232;
  margin: 1%;
  opacity: .95;
  width: 100px;
}

.label {
  background-color: white;
  color: #323232;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  border-radius: 25px;
  display: inline-block;
  line-height: 42px;
  width: 150px;
  height: 40px;
  margin: 5px;
}

.label-contents {
  background-color: white;
  color: #323232;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  border-radius: 0px;
  display: inline-block;
  line-height: 42px;
  width: 300px;
  height: 40px;
  margin: 5px;
}

.credits {
  color: #323232;
  font-size: 50px;
  line-height: 50px;
}

.badge {
  background-color: black;
  opacity: .75;
  border-radius: 30px;
  margin-left: 5px;
}
