<!DOCTYPE html>
<html>
<body>
  <div class="container" *ngIf="!displayResults; else results">
    <div class="right-header"> ADD SELECTED SCORE </div>
    <div *ngIf="_scoreSelect.apExamSelected">
      <button class="btn" id=1 (click)="_scoreSelect.scoreClicked($event)">1</button>
      <button class="btn" id=2 (click)="_scoreSelect.scoreClicked($event)">2</button>
      <button class="btn" id=3 (click)="_scoreSelect.scoreClicked($event)">3</button>
      <button class="btn" id=4 (click)="_scoreSelect.scoreClicked($event)">4</button>
      <button class="btn" id=5 (click)="_scoreSelect.scoreClicked($event)">5</button>
    </div>
    <div *ngIf="_scoreSelect.ibHighExamSelected || _scoreSelect.ibStandardExamSelected">
      <button class="btn" id=1 (click)="_scoreSelect.scoreClicked($event)">1</button>
      <button class="btn" id=2 (click)="_scoreSelect.scoreClicked($event)">2</button>
      <button class="btn" id=3 (click)="_scoreSelect.scoreClicked($event)">3</button>
      <button class="btn" id=4 (click)="_scoreSelect.scoreClicked($event)">4</button>
      <button class="btn" id=5 (click)="_scoreSelect.scoreClicked($event)">5</button>
      <button class="btn" id=6 (click)="_scoreSelect.scoreClicked($event)">6</button>
      <button class="btn" id=7 (click)="_scoreSelect.scoreClicked($event)">7</button>
    </div>
    <div *ngIf="_scoreSelect.satExamSelected">
      <div class="input-group">
        <input class="form-control text-center" type="text" placeholder="0-800" #satInput id="satInput">
        <span class="input-group-btn">
          <button type="button" class="btn submit" (click)="_scoreSelect.satScoreClicked(satInput.value);"> SUBMIT </button>
        </span>
      </div>
    </div>

    <div *ngIf="_scoreSelect.apExamSelected || _scoreSelect.ibHighExamSelected || _scoreSelect.ibStandardExamSelected || _scoreSelect.satExamSelected ">
      <button type="button" class="btn cancel" (click)="_scoreSelect.reset()" > CANCEL </button>
    </div>

    <div class="right-header" role="group"> ADDED SCORES</div>
    <ul class="list-group" *ngFor="let exam of _exam.examArr">
      <li class="list-group-item justify-content-between"> {{exam.getType()}} {{exam.getName()}}
        <span class="pull-right">
          <span class="badge badge-default badge-pill"> {{exam.getScore()}} </span>
          <button type="button" class="close" aria-label="Close" (click)="_exam.removeSelectedScore(exam.getIndex())">
            <span aria-hidden="true">&times;</span>
          </button>
        </span>
      </li>
    </ul>

    <div class="alert" *ngIf="_exam.examArrEmpty" style="background-color: whitesmoke;" role="alert">
      <i>Select an Exam to Continue</i>
    </div>
    <div *ngIf="!_exam.examArrEmpty">
      <button type="button" class="btn cancel" (click)="_convertScore.parseData()"> SUBMIT </button>
    </div>
  </div>

  <ng-template #results>
    <results></results>
  </ng-template>

</body>
</html>
