body, html {
  background-color: #FFD700;
}

.container {
  background-color: #FFD700;
  text-align:center;
}

.right-header {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Raleway';
  padding-top: 1%;
}

.btn {
  color: white;
  background-color: #323232;
  border-color: #323232;
  margin: 1%;
  opacity: .95;
  width: auto;
}

.btn:hover {
  color: #323232;
  background-color: white;
  border-color: white;
}

.btn.lg {
  background-color: #00254c;
  color: white;
  font-family: 'Raleway';
  font-size: 16px;
  margin-top: 4%;
  margin-bottom: 5%;
  width: 120px;
  height: 35px;
  border: 0px;
}

.btn.lg:hover {
  color: #323232;
  background-color: white;
  border-color: #323232;
}

.submit {
  background-color: #00254c;
  color: white;
  font-family: 'Raleway';
  font-size: 12px;
  width: 10px;
  height: 30px;
  border: 0px;
}

.badge {
  background-color: black;
  opacity: .75;
  border-radius: 30px;
  margin-right: 5px;
}

.form-contol {
  width: 10px;
}
