.container {
  background-color: #eeb211;
  overflow-y: scroll;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.right-header {
  color: black;
  font-size: 24px;
  text-decoration: underline;
  font-family: 'Roboto Condensed';
  padding-top: 1%;
}

.right-content {
  color: #323232;
  font-size: 18px;
  font-family: 'Roboto Condensed';
}

.numbers {
  color: #323232;
  font-size: 18px;
  font-family: 'Roboto Condensed';
  padding-left: 14%;
  padding-right: 8%;
}

.submit {
  background-color: #00254c;
  color: white;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  margin-top: 2%;
  width: 100px;
  height: 35px;
  border: 0px;
}

.reset {
  background-color: #00254c;
  color: white;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  margin-top: 4%;
  width: 300px;
  height: 35px;
  border: 0px;
}

.label {
  background-color: white;
  color: #323232;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin: 5px;
}

.credits {
  color: #323232;
  font-size: 50px;
  line-height: 50px;
}
