<!DOCTYPE html>
<html>
<body>
  <div class="card">
    <h3 class="card-header">SAT II</h3>
    <div class="card-block">
      <div class="button-group">
        <button type="button" class="btn btn-secondary" id="Chemistry" (click)="_scoreSelect.satClicked($event)">Chemistry</button>
        <button type="button" class="btn btn-secondary" id="English" (click)="_scoreSelect.satClicked($event)">English</button>
        <button type="button" class="btn btn-secondary" id="US History" (click)="_scoreSelect.satClicked($event)">US History</button>
        <button type="button" class="btn btn-secondary" id="World History" (click)="_scoreSelect.satClicked($event)">World History</button>
      </div>
    </div>
  </div>
</body>
</html>
