<!DOCTYPE html>
<html>
<body>
    <nav class="navbar navbar-default">
        <a class="navbar-brand"> <a href="home"> GT Credits </a>
            <div class="header-icons">
                <div class="btn-group">
                    <button type="button" class="btn fa fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1">
                        <a class="dropdown-item" data-toggle="modal" data-target="#feedback">Report Issues & Feedback</a>
                        <a class="dropdown-item"
                            onclick="window.open('https://github.com/skeshive/gtcredits.git');window.open('https://github.com/nikitarajput/gtcredits');" ><i class="fa fa-github" aria-hidden="true"></i> Github</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-toggle="modal" data-target="#disclaimer">Disclaimer</a>
                    </div>
                    <!-- Feedback Modal -->
                    <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedback" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Report Issues & Feedback</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbyZJgPUJaSyZDmYZ_H9AfwcLbCGLUOO8cHvYRtukIqlXuaAZWo/exec">
                                        <fieldset class="form-group required">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" required="required">
                                        </fieldset>
                                        <fieldset class="form-group required">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" required="required">
                                        </fieldset>
                                        <fieldset class="form-group required">
                                            <label for="message">Message</label>
                                            <textarea class="form-control" id="message" name="message" rows="5"required="required"> </textarea>
                                        </fieldset>
                                         <button type="submit" class="btn btn-primary">Send</button>
                                    </form>
                                </div>
                                <div class="modal-footer justify-content-between"> Copyright © 2017 GT Credits.
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feedback Modal -->
                    <!-- Disclaimer Modal -->
                    <div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="dislcaimer" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Disclaimer</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    Last updated: **PUBLISH DATE HERE**<br><br>
                                    The information and content generated by this website is for informational purposes only.<br><br>
                                    This website is not intended nor responsible for giving credit on behalf of Georgia Institute of Technology's Office
                                    of the Registrar. GT Credits assumes no responsibility for errors in the contents of the Service, as only official credit
                                    transfer can be processed and distributed only by Georgia Institute of Technology's Office of the Registrar.<br><br>
                                    In no event shall the predictions made by this website warrant or guarantee actual credit accumulation.<br><br>
                                    GT Credits reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.
                                </div>
                                <div class="modal-footer justify-content-between"> Copyright © 2017 GT Credits
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                          </div>
                        </div>
                    </div>
                    <!-- Disclaimer Modal -->
                </div>
          </div>
        </a>
    </nav>
</body>
</html>
