.navbar-default {
  background-color: #323232;
  height: 85px;
  border: 0px;
  border-radius: 0px;
}

.navbar-brand {
    font-size: 28px;
    line-height: 55px;
    font-family: 'Raleway';
}

#white {
    color: white;
}

.header-icons {
  float: right;
}

.btn {
    background-color: #323232;
    color:white;
}

.dropdown-item {
    color: black;
    font-family: "Raleway";
}
