.navbar-default {
  background-color: #323232;
  height: 85px;
  border: 0px;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 28px;
  line-height: 55px;
  font-family: 'Raleway';
  color: white !important;
}

.header-icons {
  float: right;
}

.btn {
  background-color: #323232;
  color: white;
}

.modal {
  color: black;
}

.modal-body {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  white-space: normal;
}

.modal-footer {
  color: #323232;
  font-size: 15px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

form {
  color: black;
  font-size: 18px;
}

label {
  margin: 0;
}
