.navbar-default {
  background-color: #323232;
  height: 85px;
  border: 0px;
  border-radius: 0px;
}

.navbar-brand {
    font-size: 28px;
    line-height: 55px;
    font-family: 'Raleway';
    color: black;
}

.header-icons {
  float: right;
}

.btn {
    background-color: #323232;
    color: white;
}
